
.banner_img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.31),rgba(0, 0, 0, 0.3)),url('../../assets/banner.png');
  max-width: 1240px;
  height: 170px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  margin: 0 auto;
  font-size: 48px;
  color: white;
}

.lodging_list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  background: #F7F7F7;
  max-width: 1240px;
  border-radius: 25px;
  padding: 30px;
  margin: 30px auto;
}

