.host{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.host-name{
    width: 80px;
    margin-right: 10px;
    text-align: right;
}

.host_picture{
    width: 64px;
    height: 64px;
    border-radius: 32px;
}


/* --- Verson Tablette --- */
@media screen and (max-width: 992px) {

    .host{
        top: auto;
        bottom: 0;
    }
}

/* --- Verson Portable --- */
@media screen and (max-width: 400px) {
    .host-name{
        width: 50px;
        margin-right: 5px;
        text-align: right;
        font-size: 12px;
    }
    
    .host_picture{
        width: 32px;
        height: 32px;
        border-radius: 16px;
    }

}