.collapse{
    width: 100%;
    background-color: #F7F7F7;
    border-radius: 5px;
    color: #FF6060;
}

.collapse_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6060;
    padding: 0 20px;
    color: white;
    height: 47px;
    border-radius: 5px;
}

.collapse_text{
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.collapse_arrow{
    transition: all 250ms ease;
}

  /* --- Verson Portable --- */
  @media screen and (max-width: 400px) {

    .collapse_title{
        height: 30px;
    }

    .collapse_arrow{
        width: 15px;
    }

  }