.header {
    width: 100%;
    max-width: 1280px;
    margin: 0;
    padding: 0 20px;
  }

  .header_nav {
    width: 100%;
    min-height: 150px;
    max-width: 1240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: #FF6060
  }

  .logo{
    width: 211px;
    height: 68px;
  }

  .Menu{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
  }

  .Menu li{
    text-align: right;
  }

  .Menu-link{
    color: #FF6060;
    text-decoration: none;
    white-space: nowrap;
  }

  .Menu-link:hover{
    color: #FF6060;
  }

  .Menu .active{
    text-decoration: underline ;
  }

  /* --- Verson Tablette --- */
@media screen and (max-width: 992px) {

  .Menu{
    width: 40%;
  }

  .logo{
    width: 145px;
    height: 47px;
  }

}

  /* --- Verson Portable --- */
  @media screen and (max-width: 400px) {

    .header_nav {
      min-height: 80px;
    }

    .Menu{
      width: 120px;
      margin-left: 5px;
    }

    .Menu-link {
      font-size: 12px;
      text-transform: uppercase;
    }
  
  }
